## Eclipse

*.pydevproject
.metadata
plugin.xml_gen
bin/
target/
tmp/
MANIFEST.MF_gen
.metadata
runtimeInfo
workspace
*._trace
deps/
diagrams/*
.idea
log/
catalog-v*.xml*.tar.gz
*.zip

### M2E
org.eclipse.m2e.core.prefs

### Sonar
org.sonar.ide.eclipse.core.prefs

## KDiff3
*.orig

## R
.Rhistory
.RData
.Rproj.user


## Windows

### Windows image file caches
Thumbs.db
ehthumbs.db

### Folder config file
Desktop.ini

### Recycle Bin used on file shares
$RECYCLE.BIN/

## Linux
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
