<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelpatch -->
      <package
            uri="http://www.eclipse.org/emf/diffmerge/1.0.0/patch"
            class="org.eclipse.emf.diffmerge.patch.persistence.emf.emodelpatch.EModelPatchPackage"
            genModel="model/modelpatch.genmodel"/>
   </extension>

</plugin>
